body{
    margin: 0px
}

#intro{
    width: 100%;
    height: 100vh;
    background-image: url("images/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#blocintro{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#blocintro article{
    margin-left: 10%;
}

#blocintro h1{
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 0px;
    font-size: 80px;
    margin-bottom: 0px;
}

#desc{
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: 0px;
    margin-left: -30px;
}

.desc{
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 0px;
    font-size: 25px;
   
}

#gros{
    font-size: 65px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    border-radius: 1px;
  }
  
::-webkit-scrollbar-thumb {
    background: #0e253a;
    border-radius: 4px;
  }