body{
    margin: 0px;
    background: rgb(15, 15, 15);
}

#labo{
  background: white;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("images/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* POUR LES LIENS DE BASE */

a:link {
  color: rgb(76, 118, 196);
  transition-property: color;
  transition-duration: 0.3s;
}

a:visited {
  color: rgb(119, 30, 119);
  transition-property: color;
  transition-duration: 0.3s;
}

a:hover {
  color: #4b577a;
  transition-property: color;
  transition-duration: 0.3s;
}

a:active {
  color: #1b2236;
  transition-property: color;
  transition-duration: 0.3s;
  border-bottom: solid 4px rgba(73, 81, 111, 0);
}

#blocheader{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#blocheader article{
    margin-left: 10%;
}

#blocheader h1{
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 0px;
    font-size: 80px;
    margin-bottom: 0px;
}

#desc{
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: 0px;
    margin-left: -30px;
}

.desc{
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 0px;
    font-size: 25px;
   
}

.gros{
    font-size: 65px;
}

#intro{
    background: rgb(243, 243, 243);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#intro p{
    color: #173753;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

#titresite{
  background: #151515;
  color: white;
}

#titresite p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  padding: 10px;
}

.tabs {
    background: #151515;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .tabs .tab-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    background: #151515;
    width: 10vw;
    height: 100%;
  }

  .tabs .tab-nav img{
    transition: 0.3s;
  }

  .tabs .tab-nav img:hover{
    opacity: 0.5;
    transform: scale(0.9);
  }

  .tabs .tab-nav .tab-nav-selected img{
    opacity: 0.5;
    transform: scale(0.9);
  }


  .tabs .tab-nav p{
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }

  .tabs .tab-nav img{
    height: 100px;
}

  
  .tabs .tab-content {
    display: none;
    background: rgb(15, 15, 15);
    width: 90vw;
    height: 100%;
    border-radius: 15px;
  }

  .tabs .tab-content.tab-show {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .tabs .tab-content article{
    margin-right: 2%;
    margin-left: 2%;
  }

  .imagebloc{
    width: 30%;
  }

  .textebloc{
    width: 60%;
  }

  #titrebloc{
    width: 100%;
    opacity: 0.7;
    transition: 0.3s;
  }

  #titrebloc a{
    text-decoration: none;
  }

  #titrebloc:hover{
    transform: scale(0.95);
    opacity: 1;
  }

  .tabs .tab-content h1{
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px solid white;
  }

  .tabs .tab-content img{
    display: flex;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s;
  }

  .tabs .tab-content img:hover{
    transform: scale(0.9);
  }

  .tabs .tab-content p{
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    color: white;
  }

  #tab-myTab{
    background-image: url("images/illu/temaillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #tab-mySecondTab{
    background-image: url("images/illu/StarLightCover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #tab-tab3{
    background-image: url("images/illu/lasrillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }


  #tab-myTab h1{
    color: #ad1d1d;
    border-color: black;
  }

  #tab-myTab p{
    color: black;
  }

  #tab-myTab img{
    transform: scale(1.4);
    transition: 0.3s;
  }

  #tab-myTab img:hover{
    transform: scale(1.3);
  }

  #tab-tab3 h1{
    color: #173753;
    border-color: black;
  }
  
  #tab-tab3 p{
    color: black;
  }

  #tab-tab3 img{
    transform: scale(1.4);
    transition: 0.3s;
  }

  #tab-tab3 img:hover{
    transform: scale(1.3);
  }

  #wakacontact{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #wakacontact figure{
    width: 90vw;
    background: rgb(243, 243, 243);
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    border-radius: 15px;
  }

  #wakacontact embed{
    height: 650px;
    border: white solid 3px;
    border-radius: 15px;
  }

  #wakacontact article{
    width: 10vw;
    background: #151515;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  #wakacontact article img{
    width: 50px;
    transition: 0.3s;
  }

  #wakacontact article img:hover{
    transform: scale(0.9);
  }

  footer{
    background: #151515;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px;
  }

  footer a:link{
    color: white;
}

  footer a:visited{
    color :white;
}

footer a:hover{
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* POUR LES AUTRES PAGES */

.nav{
  width: 100%;
  background: #151515;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}
.nav img{
  height: 50px;
  transition: 0.3s;
}

.nav img:hover{
  transform: scale(0.9)
}

.nav article{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  width: 100%;
  transition: 0.3s;
}

.nav a:hover{
  color: rgb(170, 170, 170);
}

.nav div{
  margin-left: 3vw;
}

#sticky{
  position: sticky;
  top: 0;
  z-index: 1;
}

.titre{
  color: #173753;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  text-align: center;
}

.titregros{
  color: #173753;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  text-align: center;
}

.texteintro{
  color: #173753;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.laboconteneur{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.laboconteneur i{
  color: white;
  font-size: 100px;
}

.laboconteneur p{
  color: white; 
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  transition: opacity 0.3s;
  opacity: 0;
  text-align: center;
}

.laboconteneur article{
  display: flex;
  width: 300px;
  height: 300px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-top: 5%;
  border-radius: 20px;
  transition: 0.3s;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.laboconteneur article:hover{
  border-radius: 75px;
  transform: scale(0.98);
  cursor: pointer;
}

.laboconteneur article:hover p{
  opacity: 1;
  transition: opacity 0.3s;
}

.laboconteneur a{
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

#rouge{
  background: rgba(255, 0, 0, 0.822);
}

#rouge:hover{
  background: rgba(255, 0, 0, 0.781);
}

#bleu{
  background: #2168a7;
}

#vert{
  background: rgb(17, 153, 17);
}

#jaune{
  background: rgb(255, 221, 30);
}

.top{
  margin-top: 5%;
}
/*------------POUR LA PAGE CONVERTISSEUR-----------*/

form{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

form article{
  width: 50%;
}

form p{
  color: black; 
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  transition: opacity 0.3s;
  opacity: 1;
  text-align: left;
}

input[type*="e"]{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  color: rgb(53, 53, 53);
  text-transform: uppercase;
  border: 2px solid #555555;
  transition: 0.3s;
  outline: none;
  font-style: italic;
}

input[type*="e"]:focus{
  border: 2px solid #3975ad;
  border-radius: 25px;
}
#bouton{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6aabe9;
  border: solid 2px #6aabe9;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-right: 25%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  color: white;
  
  transition: 0.3s;
}

#bouton:hover{
    background-color: white;
    color: black;
    padding-right: 30%;
    cursor: pointer;
}

/*-----------------------*/

::-webkit-scrollbar {
    width: 10px;
    background: #151515;
    border-left: 1px solid #151515;
  }

::-webkit-scrollbar-track {
    border-radius: 1px;
  }
  
::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border-radius: 4px;
    border-left: 2px solid #151515;
  }

  @keyframes rainbow {
    0% {
      color: white;
    }
    12% {
      color: rgb(50, 75, 185);
    }
    25% {
      color: rgb(64, 192, 64);
    }
    37% {
      color: rgb(241, 241, 64);
    }
    50% {
      color: rgb(209, 42, 42);
    }
    62% {
      color: rgb(241, 241, 64);
    }
    75% {
      color: rgb(64, 192, 64);
    }
    87% {
      color: rgb(50, 75, 185);
    }
  }

  @media (max-width: 1000px) {
    header{
      width: 100%;
      height: 100vh;
      background-image: url("images/spacedesk.jpg");
    }

    #blocheader{
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-content: center;
      align-items: center;
    }
  
    #blocheader article{
      margin-left: auto;
      margin-right: auto;
    }
  
    #blocheader h1{
      margin-top: 0px;
      font-size: 10vw;
      margin-bottom: 0px;
      text-align: center;
    }

    #desc{
      font-size: 8vw;
      margin-left: 0px;
      text-align: center;
    }
  
    .desc{
      color: white;
      text-decoration: none;
      font-family: 'Julius Sans One', sans-serif;
      margin-top: 0px;
      font-size: 4vw;
      text-align: center;   
     
    }

    .gros{
      font-size: 11vw;
    }

    .tabs {
      flex-direction: column;
      height: 100vh;
    }

    .tabs .tab-nav {
      flex-direction: row;
      width: 100vw;
      height: 10%;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .tabs .tab-content {
      width: 100vw;
      height: 100%;
      border-radius: 0px;
    }

    .tabs .tab-content.tab-show {
      flex-direction: column;
    }

    .tabs .tab-content article{
      margin-right: 2%;
      margin-left: 2%;
    }
  
    .imagebloc{
      width: 100%;
    }
  
    .textebloc{
      width: 100%;
    }
  
    #titrebloc{
      width: 100%;
      opacity: 0.7;
      transition: 0.3s;
    }
  
    #titrebloc:hover{
      transform: scale(0.95);
      opacity: 1;
    }
  
    .tabs .tab-content h1{
      color: white;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 8vw;
      margin-top: 5%;
    }
  
    .tabs .tab-content img{
      max-width: 30%;
      height: auto;
    }
  
    .tabs .tab-content img:hover{
      transform: scale(0.9);
    }
  
    .tabs .tab-content p{
      font-family: 'Roboto Mono', monospace;
      font-size: 25px;
      margin-right: 5%;
      margin-left: 5%;
      color: white;
      text-align: center;
    }

    #wakacontact{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #wakacontact figure{
      width: 100vw;
      background: rgb(243, 243, 243);
      margin: 0px;
      border-radius: 0px;
    }
  
    #wakacontact embed{
      height: 70vw;
      border: white solid 3px;
      border-radius: 15px;
    }
  
    #wakacontact article{
      width: 100vw;
      background: #151515;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      padding-top: 5%;
      padding-bottom: 2%;
    }
  
    #wakacontact article img{
      width: 50px;
      transition: 0.3s;
    }

    .laboconteneur p{
      opacity: 1;
    }

    .titregros{
      margin-right: 5%;
      margin-left: 5%;
      font-size: 8vw;
      text-align: center;
    }

    form article{
      width: 70%;
    }

  }

  /*RESPONSIVE NIVEAU TELEPHONE*/

  @media (max-width: 600px) {

    
    #intro{
      background: rgb(243, 243, 243);
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 15vh;
      padding-bottom: 15vh;
    }

    #intro p{
      color: #173753;
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }

    .tabs {
      flex-direction: column;
      height: 100%;
    }

    .tabs .tab-nav {
      flex-direction: row;
      width: 100vw;
      height: 10%;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .tabs .tab-nav img{
      height: 16vw;
  }

    .tabs .tab-content {
      width: 100vw;
      height: 100%;
      border-radius: 0px;
    }

    .tabs .tab-content.tab-show {
      flex-direction: column;
    }

    .tabs .tab-content article{
      margin-right: 2%;
      margin-left: 2%;
    }

    .tabs .tab-content h1{
      color: white;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 8vw;
      margin-top: 5%;
    }
  
    .tabs .tab-content img{
      max-width: 30%;
      height: auto;
    }
  
    .tabs .tab-content img:hover{
      transform: scale(0.9);
    }
  
    .tabs .tab-content p{
      font-family: 'Roboto Mono', monospace;
      font-size: 5vw;
      margin-right: 5%;
      margin-left: 5%;
      color: white;
      text-align: center;
    }

    #wakacontact{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #wakacontact figure{
      width: 100vw;
      background: rgb(243, 243, 243);
      margin: 0px;
      border-radius: 0px;
      height: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  
    #wakacontact embed{
      height: 70vw;
      border: white solid 3px;
      border-radius: 15px;
    }
  
    #wakacontact article{
      width: 100vw;
      background: #151515;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      padding-top: 5%;
      padding-bottom: 2%;
    }
  
    #wakacontact article img{
      height: 10vw;
      transition: 0.3s;
    }

  }